body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* background-color: #ca0d0d; */
    background-image: url(.laptops-593296_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333333;
}

p {
    text-align: center;
    color: rgba(0, 0, 0, 0.8)
}

textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

textarea:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px #3498db;
}
